
/*[ FONT ]*/

@font-face {
  font-family: Roboto;
  /*src: url('src/assets/fonts/poppins/Poppins-Regular.ttf');*/
}

@font-face {
  font-family: Roboto;
  /*src: url('src/assets/fonts/poppins/Poppins-Medium.ttf');*/
}

@font-face {
  font-family: Roboto;
  /*src: url('src/assets/fonts/poppins/Poppins-Bold.ttf');*/
}

@font-face {
  font-family: Roboto;
  /*src: url('src/assets/fonts/poppins/Poppins-SemiBold.ttf');*/
}


/*/// RESTYLE TAG ]*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body, html {
  height: 100%;
  font-family: Roboto, sans-serif;
}

/*---------------------------------------------*/
a {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #a64bf4;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

p {
  /* font-family: Poppins-Regular; */
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0;
}

ul, li {
  margin: 0;
  list-style-type: none;
}


/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

/*// Utility ]*/
.txt1 {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #666666;
}

.txt2 {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
  text-transform: uppercase;
}

.bg1 {background-color: #3b5998}
.bg2 {background-color: #1da1f2}
.bg3 {background-color: #ea4335}

