
<h1>{{( fichaEquipo.id) ? 'Editar':'Nuevo'}} equipo: <small> {{ fichaEquipo.id }}</small></h1>

<div  >
<div fxLayout="row">
<!--  Columna formulario-->
  <div  fxLayout="row" fxFlex="40"  fxLayout.xs="column" >
           <div   fxFlex="90" fxLayout="column"  fxLayout.xs="column">

                  <mat-form-field>
                    <mat-label>Equipo</mat-label>
                    <input matInput type="text"  [(ngModel)]="fichaEquipo.equipo" required>
                  </mat-form-field>

                  <mat-form-field >
                    <mat-label>Modelo</mat-label>
                    <input matInput type="text" [(ngModel)]="fichaEquipo.modelo"  required>
                  </mat-form-field>

                  <mat-form-field >
                    <mat-label>Lugar instalacion</mat-label>
                    <input matInput type="text" [(ngModel)]="fichaEquipo.lugarInstalacion"  required>
                  </mat-form-field>

                    <mat-form-field>
                            <input matInput [matDatepicker]="picker1"  [(ngModel)]="fichaEquipo.fechacompra"  placeholder="Fecha de compra"
                           style="display: inline; width: 100px" required>
                          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                             <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>

            </div>
  </div>
<!-- Columna donde se colocara el ingreso de las imagens-->
  <div  fxLayout="row" fxFlex="100"  fxLayout.xs="column" >
         <div fxFlex="100" fxLayout="column">
<!--        Solo se mostrará cuando editemos el objeto-->
<!--           <div  *ngIf="fichaEquipo.value.id">-->
           <div *ngIf="fichaEquipo.id">
             <h2>Documentos anexados:</h2>
             <label>
                No se ha anexado ningún archivo
             </label>

             <label > descripcion de los documentos anexados</label>
           </div>

<!--   OBJETO NUEVO DROZONE   -->
<!--          <div *ngIf="!fichaEquipo.id" class="dropzone" appDropfiles-->
<!--                 (fileDropped)="onFileDropped($event)" >-->

<!--            <h2>Anexa imagen o pdf</h2>-->
<!--            <input class="inputDrop" type="file" #fileDropRef id="fileDropRef"-->
<!--                   multiple (change)="fileBrowseHandler()"/>-->
<!--&lt;!&ndash;            <img src="../../../../assets/img.png" alt="Deja caer tu archivo"/>&ndash;&gt;-->
<!--            <h3 class="h3Drop">Arrastra tu archivo hasta este recuadro</h3>-->
<!--            <h3 class="h3Drop">o</h3>-->
<!--            <label class="labelDrop" for="fileDropRef">Selecciona tu archivo </label>-->
<!--          </div>-->
           <div *ngIf="!fichaEquipo.id">
           <div  class="dropzone" appDropfiles (fileDropped)="onFileDropped($event)">
<!--             multiple (change)="fileBrowseHandler( $event.target.files)"-->
             <input class="inputDrop" type="file" #fileDropRef id="fileDropRef"  />
             <img class="imagenesDrop" src="assets/imagenes/ic-upload-file.svg" alt="">
             <h3 class="h3Drop">Drag and drop file here</h3>
             <h3 class="h3Drop">or</h3>
             <label class="labelDrop" for="fileDropRef">Browse for file</label>
           </div>
           <div class="files-list">
             <div class="single-file" *ngFor="let file of files; let i = index">
               <img class="imagenesDrop" src="assets/imagenes/ic-file.svg" width="45px" alt="file">
               <div class="info">
                 <h4 class="name">
                   {{ file?.name }}
                 </h4>
                 <p class="size">
                   {{ formatBytes(file?.size) }}
                 </p>
                 <app-progress [progress]="file?.progress"></app-progress>
               </div>
               <img  src="assets/imagenes/ic-delete-file.svg" class="delete" width="15px" height="15px" alt="file" (click)="deleteFile(i)">

             </div>
           </div>
           </div>


          </div>
      </div>
</div>
<!--  Botones para guardar - borrar - limpiar formulario -->

  <div fxLayout="row" fxLayoutGap="50px">

    <button mat-raised-button color="primary" (click)="guardar()">
      <mat-icon>{{  ( fichaEquipo.id ) ? 'edit': 'save' }}</mat-icon>
    </button>
<!--    <span class="spacer"></span>-->

    <button  mat-raised-button (click)="borrarEquipo( )" [disabled]="!fichaEquipo.id"  color="warn">
      <mat-icon>delete</mat-icon>
    </button>

    <button mat-raised-button color="primary" (click)="LimpiarImagenes()">
      <mat-icon>image</mat-icon>
    </button>

  </div>


</div>

