
<h1>
  <!--    <span *ngIf="equipo.id">Editar</span>-->
  <!--    <span *ngIf="!equipo.id">Nuevo</span>-->
  {{  ( fichaEquipo.value.id ) ? 'Nuevo': 'Editar' }}
  equipo:
  <small> {{ fichaEquipo.value.id }}</small>
</h1>

<form [formGroup]="fichaEquipo" >

<!--  Columna formulario-->
  <div  fxLayout="row" fxFlex="100" >
           <div   fxFlex="80" fxLayout="column">

                  <mat-form-field >
                    <mat-label>Equipo</mat-label>
                    <input matInput type="text" formControlName="equipo" required>
                  </mat-form-field>

                  <mat-form-field >
                    <mat-label>Modelo</mat-label>
                    <input matInput type="text" formControlName="modelo" required>
                  </mat-form-field>

                  <mat-form-field >
                    <mat-label>Lugar instalacion</mat-label>
                    <input matInput type="text" formControlName="lugarInstalacion" required>
                  </mat-form-field>

                    <mat-form-field>
                    <input matInput [matDatepicker]="picker1"  formControlName="fechaCompra" placeholder="Fecha de compra"
                           style="display: inline; width: 300px">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>

            </div>
  </div>
<!-- Columna donde se colocara el ingreso de las imagens-->
  <div  fxLayout="row" fxFlex="100" >
        <div fxFlex="100" fxLayout="column">

    <mat-form-field >
      <mat-label>Modelo</mat-label>
      <input matInput type="text" formControlName="ticketCompra" required>
    </mat-form-field>

  </div>
      </div>

</form>

<hr>
<br>

<div class="m-t-10">
  <h1>Form value: {{ fichaEquipo.value | json }}</h1>
</div>
