
<h1>{{( fichaEquipo.id) ? 'Editar':'Nuevo'}} equipo: <small> {{ fichaEquipo.id }}</small></h1>

<div  >
<div fxLayout="row">
<!--  Columna formulario-->
  <div  fxLayout="row" fxFlex="40" >
           <div   fxFlex="60" fxLayout="column">

                  <mat-form-field>
                    <mat-label>Equipo</mat-label>
                    <input matInput type="text"  [(ngModel)]="fichaEquipo.equipo" required>
                  </mat-form-field>

                  <mat-form-field >
                    <mat-label>Modelo</mat-label>
                    <input matInput type="text" [(ngModel)]="fichaEquipo.modelo"  required>
                  </mat-form-field>

                  <mat-form-field >
                    <mat-label>Lugar instalacion</mat-label>
                    <input matInput type="text" [(ngModel)]="fichaEquipo.lugarInstalacion"  required>
                  </mat-form-field>

                    <mat-form-field>
                            <input matInput [matDatepicker]="picker1"  [(ngModel)]="fichaEquipo.fechacompra"  placeholder="Fecha de compra"
                           style="display: inline; width: 100px" required>
                          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                             <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>

            </div>
  </div>
<!-- Columna donde se colocara el ingreso de las imagens-->
  <div  fxLayout="row" fxFlex="100">
         <div fxFlex="100" fxLayout="column">
<!--        Solo se mostrará cuando editemos el objeto-->
<!--           <div  *ngIf="fichaEquipo.value.id">-->
           <div *ngIf="fichaEquipo.id">
             <h3>Documentos anexados:</h3>
             <label *ngIf="fichaEquipo.ticketcompra.length === 0">
                No se ha anexado ningun archivo
             </label>
<!--             <img [src]="fichaEquipo.value.ticketcompra[0] | imagen"  alt="{{ fichaEquipo.value.id }}">-->
<!--             <img src="assets/drop-images.png" class="poster">-->
             <label *ngIf="fichaEquipo.ticketcompra.length !== 0"> descripcion de los documentos anexados</label>
           </div>

<!--        Solo se mostrarña cuando queramos crear otro objeto   -->
          <div *ngIf="!fichaEquipo.id">
            <h3>Anexa imagen o pdf</h3>
          </div>


          </div>
      </div>
</div>
<!--  Botones para guardar - borrar - limpiar formulario -->

  <div fxLayout="row" fxLayoutGap="50px">

    <button mat-raised-button color="primary" (click)="guardar()">
      <mat-icon>{{  ( fichaEquipo.id ) ? 'edit': 'save' }}</mat-icon>
    </button>
<!--    <span class="spacer"></span>-->

    <button  mat-raised-button (click)="borrarEquipo( )" [disabled]="!fichaEquipo.id"  color="warn">
      <mat-icon>delete</mat-icon>
    </button>

    <button mat-raised-button color="primary" (click)="LimpiarImagenes()">
      <mat-icon>image</mat-icon>
    </button>

  </div>


</div>

<hr>
<br>

<div class="m-t-10">
  <h1>Form value: {{ fichaEquipo | json }}</h1>
</div>


