<table class="table table-bordered table-striped " >

  <thead>
  <tr>
    <th>id</th>
    <th>Equipo</th>
    <th>fecha compra</th>
    <th>lugar instalacion</th>
    <th> Detalles </th>
    <th> editar </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let e of equipos">
    <td>{{e.id }}</td>
    <td>{{e.serial}}</td>
    <td>{{e.fechaCompra | date }}</td>
    <td> {{ e.lugarInstalacion }} </td>
    <td>
      <button mat-raised-button color="basic" (click)="detalleID(e.id!, e)">

        Leer más ...
      </button>
    </td>
    <td>
<!--      [routerLink]="['/equipos/editar']"    -->
      <button mat-raised-button color="primary"  (click)="capturaID( e.id!, e )"  >
        Editar ...
      </button>
    </td>
  </tr>
  </tbody>

</table>
